body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
html {
    background: url(image/bglogin.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
* a{
    text-decoration: none;
}
*{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
}
.konten {
    height:fit-content;
    position: relative;
    z-index: 2;
    background-color: aqua;
    margin-top: 20%;
    justify-content: center;
}
.kontenL{
    position: relative;
    float: left;
    color: white;
}
.kontenL h3{
    font-size: 35;
    text-align: left;
}
.kontenL p{
    font-size: 15px;
    text-align: left;
    width: 400px;
}
.kontenL img{
    width: 350px;
}
.kontenR{
    position: relative;
    float: right;
}
label{
    font-weight: bold;
}
#inp{
    width: 300px;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid #768280;
    background-color: transparent;
    padding:10px 10px 5px 2px;
}
.login{
    margin-top: 20px;
    padding: 0px 30px;
    border: 2px solid #52605E;
    border-radius: 5px;
}
.login:hover{
    background-color: #52605E;
    color: white;
}






.back {
    height: fit-content;float: right;
    transform: translate(-100%, 130px);
    transition: 0.5s ease-in;

}

.back a {
    font-weight: bold;
    color: black;
    padding: 2px 10px;
    border: 2px solid #52605E;
}
.back:hover, a:hover{
    background-color: #52605E;
    color: white;
}